@use 'src/components/base';

.tag-nav-div {
    button {
        border: none;
        background-color: #fff;
    }
}

.tag-item-div {
    border-bottom: 1px solid #F4F4F4;
    height: 41px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .tag-item {
        margin-right: 15px;
        @extend .body1;
        color: base.$darkGrey;
        flex: 0 0 auto;
    }
}